<h2>Add Item</h2>

<form method="POST" action="/create/post">
    <label for="id">ID:</label><br />
    <input type="text" id="id" name="id" /><br />
    <label for="item">Item name:</label><br />
    <input type="text" id="item" name="item" /><br /><br />
    <input type="submit" value="Submit" />
</form>