<h2>Update</h2>

<form method="POST" action="/patch/edit?_method=PATCH">
    <label for="id">ID:</label><br />
    <input type="text" id="id" name="id" value={{shop.id}} /><br />
    <label for="item">Item name:</label><br />
    <input type="text" id="item" name="item" value={{shop.item}} /><br /><br />
    <input type="submit" value="Update" />
</form>